.income_button_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
}
.income_button_container .income_button{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2da639;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 1rem;
}
.income_button_container .income_button:hover {
    background-color: #258c2f;
}
.income_button .icon {
    margin-right: 8px;
    font-size: 18px;
}

/* Styling for the button text */
.income_button label {
    font-size: 16px;
}
.button_guardar_actualizacion{
    background: #20335b;
    margin-top: 3rem;
    color: white;
}

@media (min-width: 1280px)  {
    .income_button_container{
        flex-direction: row;
    }
}